/* General */ 
* {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Montserrat, Arial; 
    background-color: rgb(225, 225, 225); 
}
html {
    scroll-behavior: smooth;
}
p {
    color: rgb(74, 74, 74); 
}

/* Transition */ 
 a, .btn {
    transition: all 0.15 ease; 
 }

 /* Nav */ 
 nav, .nav-links {
    display: flex; 
 }

 nav {
    justify-content: space-around;
    align-items: center; 
    height: 14vh; /* 17% of screen */ 
    background-color: lightpink;
 }

 .nav-links {
    gap: 2rem; /* ~16px, but adjustable */ 
    list-style: none; /* remove bullet points */ 
    font-size: 1.5rem;
 }
 
 .nav-links a {
    color: black; 
    text-decoration: none;
    text-decoration-color: white; 
 }
 .nav-links a:hover {
    color: grey; 
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: lightblue;
 }
 .logo {
    font-size: 2rem;
 }
 .logo:hover {
    cursor: default; 
 }

 /* Hamburger Menue */ 
#hamburger-nav {
    display: flex; 
}

.hamburger-menue {
    position: relative; 
    display: inline-block; 
}
.hamburger-icon { 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    height: 24px; 
    width: 30px; 
    cursor: pointer; 
}